#board > div.cell {
        width: 90px;
        height: 90px;
        border: 1px solid black;
        float: left;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-family: Arial;
        font-size: 70px;
}

div.clear {
        clear: both;
}

div.x {
        color: red;
}

div.o {
        color: blue;
}
