#board > div.cell {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        float: left;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
}

div.clear {
        clear: both;
}
